
@font-face {
    font-family: 'Gilroy-Black';
    src: url('assets/fonts/Gilroy-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #fff;
    color: #000;


}


.ty-dropdown-box__title a.header__menu-opener-button-text {
    height: 40px;
    border: 1px solid #ffe01d;
    background-color: #ffe01d;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px 34px 10px 44px;
    color: #1c1c1c;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    transition: linear .2s;
    z-index: 1;
    overflow: hidden;

}
.col-md-5.header-search {
    display: flex;
    align-items: center;
}

.col-md-5.header-search .ty-search-block__input {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}


footer {
    padding: 10px;
    text-align: center;
    background-color: white;
}

.top-logo {
    width: 100%;
}

.element.style {
    top: 41px;
    background-color: #fff;
}

.header-btn {
    font-family: 'Gilroy-Black', sans-serif;

}

.header-btn > div {
    font-family: 'Gilroy-Black', sans-serif;
}

.header-chena {
    font-family: 'Gilroy-Black', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

}

.product-title {
    font-family: 'Gilroy-Black', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 18px;
    color: #1c1c1c;
    border-bottom: 3px;
}

.background-shop {
    background-color: orange;
    border-radius: 50%;
    width: 90px;
    height: 90px;


}

.ty-price-num{

    font-family: 'Gilroy-Black', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.main-ananac {
    padding: 270px;
    max-width: 2000px;
    margin-top: 110px;
    background: lightgrey;

}
.main-pidborki{
    padding: 380px;
    max-width: 2000px;

    background: whitesmoke;

}


.fon-pidbordi{
    background: #efe8e8;
    border-radius: 15px;
    width: 310px;
    height: 150px;
}

.fon-pidbordi-dline{
    background: #efe8e8;
    border-radius: 15px;
    width: 630px;
    height: 150px;
}

.fon-pidbordi-cvadr{
    background: #efe8e8;
    border-radius: 15px;
    width: 310px;
    height: 310px;
}

.main-syper{


    padding: 700px;
    width: 1519px;


    /*left: -80vw;
    right: -80vw;
    height: 140px;*/
    background-color: #c6d1ea;
    /*border-radius: 50%;*/

}

.container {
    max-width: 2000px;
    margin: 0 auto;
}


.white-fon{
    border-radius: 10px;
    background-color: #ffffff;
    padding: 225px 10px 200px 300px;

}

.white-fon-syper{
    border-radius: 10px;
    background-color: #ffffff;
    width: 246px;
    height: 417px;


}

.white-fon-new {
    border-radius: 10px;
    background-color: #ffffff;
    width: 1260px;
    height: 398px;
}

.main-sezon{
    padding: 620px;
    max-width: 1590px;
    background: #eae1b0;
}

.main-top-tovar{
    padding: 680px;
    max-width: 1590px;
    background: #b3e5e1;
}

.main-xto-i{
    padding: 660px;
    max-width: 1590px;
    background: #d2efa6;
}


.orang-circle > div {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffe01d;
}

.white-circle > div {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ffffff;
}

.main-blog{
    padding: 330px;
    max-width: 1590px;
    background: #ffffff;
}

.blog-cnop{
    height: 50px;
    border: 1px solid #ffe01d;
    background-color: #ffe01d;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 1px 34px 1px 44px;
    color: #1c1c1c;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    transition: linear .2s;
    z-index: 1;
    overflow: hidden;

}

.main-text{
    padding: 620px;
    max-width: 1590px;
    background: #f1e7e7;
}
.text{
    font-size: 16px;
}

.mini-orang-circle > div {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffe01d;
}

.midle-orang-circle > div {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffe01d;
}




